# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# macOS
.DS_Store

# Python virtualenvs
.venv/
venv/

# Weights & Biases
wandb/
*.wandb

# Model checkpoints (ignore all except keepers)
checkpoints/*
!checkpoints/keepers/
!checkpoints/.gitkeep

# Ignore everything in data by default
/data/**
/experiments/results/**
/experiments/data/**
/latex/**

# But keep the raw folder and its contents
!/data/raw/
!/data/raw/**

# Keep the processed folder so we can unignore a single file
!/data/processed/

# Only keep the one processed file we want tracked
!/data/processed/ucsd_walk_full.graphml

docs/
.legacy/
.vscode/

# End of .gitignore